################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.atom
/.vscode
/AndroidStudioProjects
/ApkProjects/app-debug/.idea
/AppData
/Cisco Packet Tracer 8.2.0
/Contacts
/Documents
/Downloads
/Dropbox
/eclipse
/eclipse-workspace
/ecplipseLastVersionWorkspace
/Favorites
/ISPC
/jython
/Links
/Music
/Music
/MyUdemyPythonWork
/OneDrive
/practicasBackEnd
/pseint
/PycharmProjects
/Saved Games
/Searches
/tensorflow_datasets
/Videos
/VirtualBox VMs
/source/repos/AdmiHairNegocio
/source/repos/AdminEmpleadosDatos/.vs/AdminEmpleadosDatos/DesignTimeBuild/.dtbcache.v2
/source/repos/AdminEmpleadosDatos
/source/repos/AdminEmpleadosEntidades
/source/repos/AdminEmpleadosEntidades
/source/repos/AdminEmpleadosNegocio
/source/repos/AdminEmpleadosFront
/source/repos/AdminEmpleadosNegocios
/source/repos/AdminHairDatos
/source/repos/AdminHairEntidades
/source/repos/AppWPDF
/source/repos/AreaYPerimetro
/source/repos/Borders
/source/repos/CalculadoraBasica
/source/repos/Canvas
/source/repos/Clase01
/source/repos/clases
/source/repos/ConsoleApp1
/source/repos/ConsultaPaises
/source/repos/ControlsDeMarcos
/source/repos/Desempenio3
/source/repos/Ejercicio
/source/repos/Estructuras
/source/repos/flujos
/source/repos/gasalud
/source/repos/HairSys
/source/repos/HairSystem
/source/repos/HelloWorld
/source/repos/HelloWorld2
/source/repos/HolaMundo
/source/repos/Indexer
/source/repos/Interfaces
/source/repos/ListBox
/source/repos/MiPrimerProyecto
/source/repos/NetCoreYoutube
/source/repos/NuevaAplicacion
/source/repos/Pelu
/source/repos/Practica
/source/repos/PracticaDeListas
/source/repos/PracticaInterfazUsuario
/source/repos/Practicando
/source/repos/PracticeListas
/source/repos/PrimerProyectoWeb
/source/repos/PrimerSitio
/source/repos/ProyectoHairSys
/source/repos/ProyectoInterfaz
/source/repos/Prueba
/source/repos/RegistoSocios
/source/repos/ScrollViewer
/source/repos/SobrecargaOperadores
/source/repos/WindowsApp1
/source/repos/WinFormsApp1
/source/repos/Capitulo5
/source/repos/Clase02
/source/repos/InterfazCallback
/source/repos/Practica_repaso
/source/repos/WebApplication1
/source/repos/Practica_repaso
*.rar
*.zip
/.gitconfig
/file.bin
*.bin
/IMG_20210619_222241.jpg
/import openai.py
/NTUSER.DAT
/ntuser.dat.LOG1
/NTUSER.DAT
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.0.regtrans-ms
/ntuser.dat.LOG2
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.0.regtrans-ms
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.1.regtrans-ms
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.2.regtrans-ms
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.blf
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.1.regtrans-ms
/NTUSER.DAT{7e25c1f9-d0f6-11ed-a59b-847ab7a84d78}.TxR.2.regtrans-ms
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TM.blf
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TM.blf
/NTUSER.DAT{7e25c1fa-d0f6-11ed-a59b-847ab7a84d78}.TM.blf
/ntuser.ini
/prueba.psc
/Untitled-1.py
/Untitled.ipynb
/VisualStudioSetup (1).exe
/venta_casas.csv
/ntuser.ini
/prueba.psc
/venta_casas.csv
/VisualStudioSetup (1).exe
/VisualStudioSetup.exe
/VisualStudioSetup (1).exe
/VisualStudioSetup.exe
/.nuget/packages
